<!--card.component.html-->
<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      {{chart.nombre}}

      <button mat-icon-button [matMenuTriggerFor]="menusito" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu  #menusito="matMenu" >
        <div *ngFor=" let menu of dataestatica; let i = index;">
          <button (click)="CambiarData(menu)" mat-menu-item>
            <mat-icon>api</mat-icon>
            <span>{{menu.nombre}}</span>
          </button>

        </div>
      </mat-menu>

      <mat-card *ngIf="this.peticiones.Chartsum" style="width: auto; ">
            <mat-icon>invert_colors</mat-icon>
           <h2> {{this.peticiones.Chartsum.sum | number:'3.1-4'}}</h2>
           <p> Evapotranspiraciòn Ponderada del grafico </p>
      </mat-card>
      <div class="row">
        <mat-form-field appearance="fill">

        <mat-label>Fecha Inicio</mat-label>
          <input matInput [matDatepicker]="picker" (ngModelChange)="ActualizarFechas()"  (change)="ActualizarFechas()"
                 [formControl]="serializedDate"
                 >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field  appearance="fill">
        <mat-label>Fecha Final</mat-label>
          <input (change)="ActualizarFechas()" (ngModelChange)="ActualizarFechas()"
                 matInput [matDatepicker]="picker2"
                 [formControl]="serializedDatef">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>
