<!--card.component.html-->
<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      {{chart.nombre}}
      <button mat-icon-button [matMenuTriggerFor]="menusito" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu  #menusito="matMenu" >
        <div *ngFor=" let menu of dataestatica; let i = index;">
          <button (click)="CambiarData(menu)" mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>{{menu.nombre}}</span>
          </button>

        </div>
      </mat-menu>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>
